<div class="box generalbox mb-3 enrol-instance" data-enrol="{{enrol}}" data-instanceid="{{instanceid}}" style="background: #f8fafc;">
    {{#hasbuttons}}
        <div class="d-flex justify-content-center mt-2">
           <button style="border-radius: 10px; background: black" type="button" class="text-white p-2">Purchase</button>
        </div>
    {{/hasbuttons}}
</div>