{{!
    @template theme_smartmind/smartmind/logo

    SmartMind — Site logo / name.

    Edit this to customise the logo area.
}}
<a href="{{{ config.homeurl }}}" class="text-decoration-none text-dark d-block text-center mt-4 mb-2">
    <img src="{{{config.wwwroot}}}/theme/smartmind/img/smartmind.png" class="logo me-1" alt="{{sitename}}" style="width: 80px;">
</a>